<header class="site-header">

  <div class="wrap title-wrap">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

  <!-- <div id="header">    
    <div class='text-center'>
      <h5>       
        <a href='http://cs231n.stanford.edu/2015'>[Winter 2015]</a>
        <a href='http://cs231n.stanford.edu/2016'>[Winter 2016]</a>
        <a href='http://cs231n.stanford.edu/2017'>[Spring 2017]</a>
      </h5>
    </div>
    <div style="clear:both;"></div>
  </div> -->   

</header>
